/* src/pages/admin-profile/ui/AdminProfilePage.module.css */

.page {
  min-height: calc(100vh - 100px);
  padding: 8px 0 24px;
  background: #f8f8f8;
}

.container {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
}

@media (max-width: 768px) {
  .page {
    min-height: calc(100vh - 78px);
    padding: 8px 0 24px;
  }

  .container {
    padding: 0 16px;
  }
}
